html, body{
    margin: 0;
    height: 100%;
}

/* من الخواص التي يجب تغيرها لكي تصل للمطلوب
    1. لون الخلفيه
    2. الطول والعرض
    3. الهوامش
    4. الحواشي
    5. نوع العرض
    6. border radius */

/* عند الحاجه w3schools قم بالاستعانه بموقع  */




.sidebar{
    /* pxالعرض هنا يجب ان يكون 120 */
di
    width: 120px;
    background-color: black;
    color: cornsilk;
    border-radius: 10px;
    border: 3px solid wheat; 
}

.header{
    /* pxالطول هنا يجب ان يكون 80 */
    height: 100px;
    background-color: blue;
    border: 3px solid wheat;
    border-radius: 10px;
   
}

.main { 
    background-color: cornflowerblue;
    height: 100vh;
    border-radius: 10px;
    border: 3px solid wheat;

}

a{
    color: darkgray;
    text-decoration: none;

    /* اجعل شكل اللنك من غير خط اسفل الكلام */
}

/* !بــونص */
/* (hover) اجعل اللنك يتغير لونه الى الابيض عند التأشير عليه */
/* (p) غير محاذاة الفقرات لتصبح بالوسط */

p{
    text-align: center;
}

a:hover{
    color: thistle;
}
h1{
    margin: 0;
    margin-right: 5px;
}

h2{
    margin: 0;
    margin-left: 5px;
}

